input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.title_main {
    padding: 15px 0;
}

.catalog-block {}

.catalog-block__title {}

h1 {
    font-size: 2.133em;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 25px;
    color: #383838;
}

.catalog-block__title h2 {
    font-size: 1.866em;
    line-height: 28px;
    margin: 40px 0 26px;
}

.catalog-block__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.one_price {
    width: 80% !important;
    text-align: left !important;
    align-items: flex-start !important;
}

.catalog-block__item {
    padding: 0;
    margin: 0;
    float: none;
    display: inline-flex;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    width: 23%;
    /* min-width: 230px;*/
    text-align: left;
    border-radius: 12px;
    background: #fff;
    -webkit-transition: box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
    transition: box-shadow 0.2s ease-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    white-space: normal;
    padding: 0 0 26px 0;
    margin: 10px;
    box-shadow: 0 0 15px rgb(81 92 98 / 10%);
    -webkit-box-shadow: 0 0 15px rgb(81 92 98 / 10%);
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}


.catalog-block__item:hover .shine::before {
    left: 100%;
    opacity: 1;
}

.catalog-block__body {
    flex-grow: 1;
    position: relative;
}

.label {
    position: absolute;
    display: flex;
    top: 2%;
    left: 2%;
    z-index: 5;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
}

.item__label {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 13px;
    padding: 6px 6px;
    border-radius: 4px;
    margin-left: 3px;
    font-weight: 900;
    text-shadow: 0 0 black;
}

.catalog-block__info-title a {
    color: #333;
    /* display: flex; */
    /* flex-grow: 1;
    flex-direction: column;
    height: 100%; */
}

.catalog-block__info-title a:hover {
    color: #e65600;
}

.catalog-block__item::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

.catalog-block__image-wrapper {
    /*min-width: 70px;
    */
    line-height: 170px;
    margin: 0 auto 10px;
    position: relative;
    padding: 0;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    zoom: 1;
    display: block;
    text-align: left;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    background: #fff;
    -webkit-transition: box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
    transition: box-shadow 0.2s ease-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    white-space: normal;
    box-shadow: 0 0 15px rgb(81 92 98 / 10%);
    -webkit-box-shadow: 0 0 15px rgb(81 92 98 / 10%);
    /* min-height: 13em; */
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -ms-border-radius: 12px 12px 0px 0px;
    -o-border-radius: 12px 12px 0px 0px;
}

.catalog-block__image-wrapper img {
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    max-width: 100%;
    /* min-width: 70px; */
    line-height: 170px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    zoom: 1;
    display: block;
}

.catalog-block__info {
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.catalog-block__info-title {
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    -webkit-line-clamp: 50;
    -webkit-box-orient: vertical;
    white-space: normal;
    /*  */
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
    position: relative;
}

.catalog-block__item-discount {
    position: absolute;
    right: -12%;
    top: -21%;
    display: inline-block;
    line-height: 1;
    font-size: 13px;
    vertical-align: bottom;
    color: #fff;
    background: #46911f;
    padding: 3px 3px;
    border-radius: 4px;
    margin-left: 3px;
}

.catalog-block__item-discount_all {
    position: absolute;
    display: flex;
    bottom: 10px;
    font-weight: 700;
    right: 10px;
    font-size: 25px;
    color: #fff;
    background: #ff1919;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 3px;
    line-height: 1;
}

.catalog-block__item-discount_all small {
    font-size: 12px;
}

.item_hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-top-style: inset;
    border-color: #f3f3f3;
    border-width: 2px;
    padding-top: 6%;
    margin-top: 6%;
    width: 100%;
    min-height: 80px;
}

.catalog-block__info-description {
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 1.2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-block__info-prices {
    display: flex;
    margin: 11px 0 10px 0px;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.catalog-block__price_NEW {
    width: 40%;
    text-align: center;
    /* background: #f3f3f5; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    /* box-shadow: 0 0 2px 0 black;
    border-radius: 5px; */
    position: relative;
}

.catalog-block__price_pickup {
    width: 40%;
    text-align: center;
    background: #f3f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0 0 2px 0 black;
    border-radius: 5px;
}

.catalog-block__price_delivery {
    width: 40%;
    text-align: center;
    background: #f3f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0 0 2px 0 black;
    border-radius: 5px;
}

.text_price {
    font-size: 14px;
    line-height: 21px;
    white-space: normal;
    float: left;
    vertical-align: bottom;
}

.catalog-block__price {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    white-space: normal;
    float: left;
    vertical-align: bottom;
}

.catalog-block__price-discount {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: #888;
    text-decoration: line-through;
    /*  */
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    float: none;
    margin-left: 10px;
}

.catalog-block__footer {
    margin-top: 0px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: 0.1s;
    text-align: left;
    font-size: 13px;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    padding-top: 0;
    white-space: nowrap;
}

.catalog-block__cout-other {
    margin: 0 10px 0 0;
    box-sizing: border-box;
    border: 1px solid #f3f3f5;
    background: #f3f3f5;
    font-size: 0;
    width: 84px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 36px;
    float: left;
}

.minus {
    font-size: 0;
    line-height: 40px;
    height: 34px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.minus::before {
    opacity: 0.7;
    display: inline-block;
    content: "";
    width: 24px;
    height: 34px;
    background: url(../media/ai.svg) -80px -191px no-repeat;
    vertical-align: middle;
}

.text {
    width: 34px;
    border: 0;
    border-left: 1px solid #f3f3f5;
    border-right: 1px solid #f3f3f5;
    background: #f3f3f5;
    color: #222;
    font-size: 16px;
    height: 34px;
    border-radius: 0;
    text-align: center;
    line-height: 13px;
    padding: 7px 3px;
}

.plus {
    font-size: 0;
    line-height: 40px;
    height: 34px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.plus::before {
    opacity: 0.7;
    display: inline-block;
    content: "";
    width: 24px;
    height: 34px;
    background: url(../media/ai.svg) -50px -191px no-repeat;
    vertical-align: middle;
}

.catalog-block__in-cart {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 2px;
    padding: 7px 18px 9px;
    overflow: hidden;
    transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    cursor: pointer;
}

.catalog-block__in-cart_btn {
    background: #4fad00;
    border-color: #4fad00;
    color: #ffffff;
    transition: background-color 0.5s;
    display: block;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 2px;
    padding: 7px 18px 9px;
    overflow: hidden;
    transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    float: left;
}


/* .catalog-block__in-cart_btn::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 13px;
    background: url(./media/next.svg) -49px -5px no-repeat;
    vertical-align: middle;
    margin: 0 8px 0 0;
} */

.svg_lazy {}


/* IOS TESTING */

@media all and (-webkit-min-device-pixel-ratio:0) {
    .catalog-block__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .catalog-block__item {
        -webkit-flex-direction: column;
    }

    .catalog-block__info-title a {
        color: #333;
        /* display: flex; */
        /* flex-grow: 1;
        flex-direction: column;
        height: 100%;
        min-height: 260px;
        position: relative; */
    }

    .catalog-block__info {
        padding: 0 10px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
    }

    .catalog-block__body {
        flex-grow: 1;
        position: relative;
        width: 100%;
    }
}

.info_product {
    position: relative;
    top: -5px;
    right: 0;
}

.info_product path,
.info_product circle {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.info_product:hover path {
    fill: #ffffff;
    color: #fff;
}



.info_product:hover~.info_prodyct_box {
    display: block;
}

.info_prodyct_box {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 0 3px 0 #ababab;
    padding: 10px;
    border-radius: 12px;
    width: 80%;
    z-index: 10;
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 1.2;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

.info_prodyct_box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    z-index: 0;
    right: -7px;
    bottom: 50%;
    box-shadow: 2px -2px 2px 0 #ababab;
    transform: rotate(45deg);
}

.info_prodyct_box__title {
    font-size: 16pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
    color: #000;
}

li.info_prodyct_box_item {
    list-style-type: none;
    margin: 2px;
}


/* END IOS TESTING */

/* MODAL MODIFIER */
.modal-box {
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #66666657;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.modal-modifier {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 6px;
    position: relative;
    max-height: 80vh;
    max-width: 75vw;

}

.modal-modifier-item .catalog-block__in-cart_btn {
    font-size: 18px;
    /* min-width: 50px; */
    text-align: center;
}

.modal-modifier-item .catalog-block__in-cart {
    font-size: 27px;
    text-align: center;
}

.modal-product-box {
    display: block;
    text-align: center;
    width: 25%;
    margin-right: 10px;
    border-right: 1px ridge;
    padding-right: 5px;
}

.modal-product-box .catalog-block__item {
    display: block;
    width: 95%;
    max-height: 90%;
    overflow: auto;
}

.modal-product-box .product_name {
    font-size: 1.5em;
    font-weight: 700;
}

.modal-modifier-box {
   
    overflow: auto;
    justify-content: center;
  
    width: 100%;
}

.modal-product-box .description {
    padding: 5px;
}

.modal-images {
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    overflow: hidden;
}

.modal-images img {
    width: 100%;
}

.modal-modifier-item {
    margin: 10px;
    padding: 2px 0;
    width: 220px;
    box-shadow: 0 0 15px rgb(81 92 98 / 10%);
    -webkit-box-shadow: 0 0 15px rgb(81 92 98 / 10%);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.modal-item-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}


.modal-modifier-item .modal-modifier-name {
    text-align: center;
    font-weight: 500;
}

.modal-modifier-item .catalog-block__price {

    font-weight: 500;
}

.modal-modifier-item .catalog-block__cout-other {

    min-width: 90px;
}

.modal-modifier-item .catalog-block__in-cart,
.modal-modifier-item .catalog-block__in-cart_btn {
    width: 15%;
    min-width: 50px;
}


.modal-box .disabled {
    background: #777;
}

.modal-modifier-name {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.modifires_img_product {
    max-width: 100%;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 0 5px 0 #939393;
    max-width: 300px;
}

.modifires_img_product img {
    width: 100%;
}

.modifiers_product_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}

/* MOBILE MAIN */

@media screen and (max-width: 991px) {
    .catalog-block {
        padding-top: 50px;
        margin-top: -50px;
    }

    .modal-product-box {
        width: 100%;
    }

    .catalog-block__title h2 {
        text-align: center;
        margin: 15px 0 6px;
    }

    h1 {
        text-align: center;
        font-size: 2em;
    }

    main {
        margin-top: 20px;
    }

    .smail li {

        margin: 2px 10px;
        font-size: 2em;

    }

    /* MODAL MODIFIER */
    .modal-box {
        align-items: flex-end;
        height: 100%;
    }

    .modal-modifier {
        flex-direction: column;
        align-items: center;
        max-height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;
        display: grid;
        justify-items: center;
        max-width: 98vw;
        padding: 15px;
    }

    .modal-modifier .modal-product-box {
        border-right: none;
    }

    .modal-product-box .catalog-block__in-cart {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0px);
        z-index: 3500;
        width: 80%;
        border-radius: 6px;
        font-size: 14pt;
        line-height: 2;
        letter-spacing: 2px;
    }

    .modal-modifier-box {
        margin-bottom: 85px;
    }


    .modal-modifier-item {
        width: 100%;
        max-width: 300px;
    }

    /*.modal-modifier-name {}*/

}


@media screen and (max-width: 1207px) and (min-width: 1031px) {
    .catalog-block__item {
        max-width: 31%;
        width: auto;
    }
}

@media screen and (max-width: 1031px) and (min-width: 870px) {
    .catalog-block__item {
        max-width: 47.67%;
        width: auto;
    }
}

@media screen and (max-width: 870px) and (min-width: 700px) {
    .catalog-block__item {
        max-width: 47%;
        width: auto;
    }

}

@media screen and (max-width: 700px) and (min-width: 591px) {
    .catalog-block__item {
        max-width: 46%;
        width: auto;
    }
}

@media screen and (max-width: 591px) {
    .catalog-block__item {
        max-width: 48%;
        width: auto;
        margin: 3px;
    }

    .in_not_cart {
        display: flex;
        flex-direction: column;
        align-items: stretch;


    }

    .product_in_cart {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .catalog-block__container {
        justify-content: center;
    }

    .catalog-block__container>* {
        margin-left: auto;
        margin-right: auto;
    }

    .catalog-block__container> :last-child {
        margin-left: 0;
    }

    .catalog-block__footer-block {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        justify-content: flex-end;
    }

    .catalog-block__item-discount_all {
        font-size: 15px;
        right:3px;
        bottom:3px;
    }

    .label {
        font-size: 15px;
    }
}

@media screen and (max-width: 300px) {
    .catalog-block__image-wrapper {
        min-height: auto
    }

}
